p {
	font-family: helvetica;
	font-size: 16px;
	color: #787E80;
	line-height: 1.5;
	text-align: center;
}
h1 {
	font-family: helvetica serif;
	font-size: 36px;
	font-weight: lighter;
}
h2 {
	font-family: Merriweather;
	font-size: 24px;
	color: #1F3740;
	margin: auto;
}
h3 {
	font-weight: normal;
	font-size: 24px;
}
/*body {*/
	/*width: 1100px;*/
/*}*/
ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
}

.currentpage {
	font: black;
}

.contentWrapper {
	display: flex;
	width: 100%;
}

.findus {
	padding-top: 20px;
}
.masseuse_text {
	font-family: helvetica;
	font-size: 16px;
	color: #787E80;
	line-height: 1.5;
	text-align: left;
	width: 260px;
	padding-right: 20px;
}
.header {	
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	-webkit-justify-content: space-between;	
	box-shadow: 0px 20px 60px 10px #EBE8E7;
}
.location {
	display: flex;
	max-width: 100%;
	padding-top: 50px;
}
.location__map {
	
}
.navigation {
	display: -webkit-flex;
	-webkit-align-items: center;	
}
.navigation__link {
	font-size: 16px;
	padding-right: 50px;
	color: #FB907D;
	font-family: helvetica;
	text-decoration: none;		

}
#currentpage {
	color: black;
}
.navigation__link--book {
	font-size: 16px;
	padding-right: 50px;
	color: #FB907D;
	font-family: helvetica;
	text-decoration: none;
	padding: 5px 25px;
	border-radius: 12px;
	color: white;
	background-color: #FB907D;
}	
.navigation__link--book--opposite {
	font-size: 16px;
	padding-right: 50px;
	color: #FB907D;
	font-family: helvetica;
	text-decoration: none;
	padding: 5px 25px;
	border-radius: 12px;
	color: #FB907D;
	background-color: white;
}

/*.navigation__link--services {*/
	/*color: black;*/
}
.button {
	font-size: 16px;
	padding-right: 50px;
	color: #FB907D;
	font-family: helvetica;
	text-decoration: none;
	padding: 5px 25px;
	border-radius: 12px;
	color: white;
	background-color: #FB907D;
}
.massage_headline {
	padding: 40px 0 16px 0;
	font-size: 18px;
	font-family: helvetica;
	text-align: center;
	color: #FB907D;
}
.masseuse_headline {
	padding: 40px 0 6px 0;
	font-size: 22px;
	font-family: helvetica;
	text-align: left;
	color: #FB907D;
}
.masseuse_title {
	padding-bottom: 16px;
	font-size: 12px;
	font-family: helvetica;
	text-align: left;
	color: #9A9FA1;
}

.massage_pic {
	height: 220px;
	width: 320px;		
}
.masseuse_pic {
	height: 240px;
	width: 260px;
}
.social-media {
	color: #FB907D;
}
.massage_scroll {
	margin: auto;
	display: block;
}
.salon_team {
	font-family: Merriweather;
}
.massagesRow {
	padding-top: 100px;
	width: 100%;
	display: flex;
	margin-left: 50px;
	margin-right: 50px;
}
.masseuse_container {
	padding-top: 100px;
	width: 100%;
	display: flex;
	padding-left: 20px;
	padding-right: 20px;
}
.massage {
	padding-right: 40px;
}
.contact {
	display: flex;
	justify-content: space-around;
}
.contactform {
	display: flex;
	flex-direction: column;
	font-family: helvetica;
	font-size: 12px;
	line-height: 2.5;
	width: 100%;
}
.contactform__namesubject {
	display: flex;	
}
.halfwidth {
	width: 50%;
} 
.halfwidth input {
	width: 96%;
}
.formInput {
	background-color: #F2F2F2;
	border-radius: 10px;
	padding-bottom: 16px;
	border: none;
}
.formcontainer {
	width: 100%;
}

.Contactform__header {
	font-size: 24px;
	text-align: center;
}
.contactform__yourmessage input {
	width: 100%;
	padding-bottom: 300px;
}
.contactform__send {
	font-size: 12px;
	color: white;
	text-align: center;
	background-color: #FB907D;
	border-radius: 20px;
	border: none;
	width: 10%;
	margin-top: 5px;
	padding: 10px;
}
.contactcolumn {
	display: flex;
	flex-direction: column;
	margin-right: 150px;
	width: 296px;
}
.footer {
	background-color: #FCFBF4;
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact {
	padding-top: 50px;
	padding-bottom: 10px;
	display: flex;
	-webkit-justify-content: space-around;	
	width: 100%;
}
.contactAction {
	display: flex;
	align-items: flex-start;
	font-family: helvetica;
	padding-top: 20px;
	line-height: 1.5;
}
.contact_top {
	display: flex;
	align-items: center;
}
.contactAction_logo {
	width: 40px;
	height: 30px;
	color: #FB907D;
}
.contact_header {
	font-size: 16px;
}
.contact_deets {
	color: gray;
	font-size: 12px;
}
.contact_deets--email {
	color: #FB907D;
	font-size: 12px;
	font-weight: bold;

}
.dealsContainer {
	display: flex;
	padding-bottom: 50px;
}
.deals {
	padding: 30px 30px 30px 30px;
	width: 250px;
}
.deals--opposite {
	background-color: #FB907D;
}

.deals__headline--opposite {
	color: white;
}
.deals__headline {
	font-family: helvetica;
	text-align: center;
	padding-bottom: 20px;
}
.deals__headline--opposite {
	font-family: helvetica;
	color: white;
	background-color: #FB907D; 
}
.deals__headline--opposite {
	color: white;
}
.deals__price {
	font-size: 56px;
	color: #FB907D;
	text-align: center;
	margin-bottom: 0;
}
.deals__price--opposite {
	color: white;
}
.deals__disclaimer {
	font-size: 12px;
	margin-top: 0;
	color: gray;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.deals__disclaimer--opposite {
	color: white;
}
.deals__description {
	font-size: 14px;
}
.deals__description--opposite {
	color: white;
}
.deals__book {
	text-align: center;
}

.callNowContainer {
	text-align: center;
}

.callNow__text {
	color: #0A2450;
	font-weight: lighter;
}
.CallNow__logo {
	color:#FB907D;
	border-color: #FB907D;
	border-style: solid;
	border-width: 2px;
	padding: 27px;
	border-radius: 42px;
	margin-right: 10px;
}
.callNow__number {
	color: #0A2450;
	font-family: Merriweather;
	display: inline-block;
}
.servicecost__text {
	color: #0A2450;
	font-family: Merriweather;	
}
.servicecost__price {
	color: #0A2450;
	font-family: Merriweather;	
	font-size: 30px;	
}
.duration {
	margin-top: 27px;
}
.duration__text {
	color: #0A2450;
	font-family: Helvetica;
	font-size: 16px;	
}
.duration__text--bold {
	font-weight: bold;
}
.customers {
	background-color: #F7EDE4;
}
.customers__say {
	padding-top: 50px;
	font-size: 30px;
	text-align: center;
}
.customers__men {
	font-weight: italic;
	text-align: center;
	color: black;
	margin-left: 200px;
	margin-right: 200px;
}
.customers__Rhode {
	color: gray;
}
.customers__quote {
	display: block;
	margin: auto;
	width: 40px;
}
.listservices {
	text-align: center;
	padding-top: 50px;
	font-size: 30px;
}
.servicesContainer {
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;
}
.servicesPic {
 display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
.SeeAllServices {
	max-width: 118px;
	font-size: 16px;
	padding: 12px 20px 20px 14px;
	color: #FB907D;
	font-family: helvetica;
	text-decoration: none;
	border-radius: 22px;
	color: white;
	background-color: #FB907D;
	margin: auto;
	margin-bottom: 50px;
}

.services__Swedish {
	width: 200px;
	height: 200px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
}
.services__Deep {
	width: 200px;
	height: 200px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	margin-left: 150px;
}
.listservices__types {
	width: 200px;
	height: 200px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	margin-left: 150px;
}
.customMassage {
	display: inline-block;
	background-image: url("index-03.jpg");
}
.customMassage__pic {
	position: relative;
	width: 100%;
}
.customMassage__text {
	position: absolute; 
	width: 100%;
	top: 100px;
	text-align: center;	
}
.picturebreakContainer {
	width: 100%;
	height: 400px;
	background-image: url("index-05.jpg");
	background-position: right;

}
.attributes {
	display: flex;
	justify-content: space-between;
}
.attributes__category {
	display: inline-block;
}
.attributes__header {
	margin-left: 100px;
}
.attributes__scroll {
	margin: auto;
}
/*.attributes__header {*/
	/*text-align: center;*/
/*}*/
/*.attributes__text {*/
	/*text-align: center;*/
/*}*/
/*.attributes_scroll {*/
	/*margin: auto;*/
/*}*/

.picturebreak {
	position: absolute;
	clip: rect(250px 1751px 580px 110px);
	
}
span {
	font-size: 36px;
	color: #616161;
	margin-left: 200px;
}
.calenderContainer {
	margin-top: 75px;
	margin-left: 250px;
	margin-right: 180px;
}

.month {
	font-size: 36px;
	font-family: helvetica;
	width: 100%;
}

.month ul li {

}
.weekdays {
    padding-top: 20px;
 }
 .weekdays li {
 	display: inline-block;
 	font-family: helvetica;
 	font-weight: bolder;
 	padding-top: 8px;
 	padding-bottom: 10px;
 	padding-left: 5px;
 	margin-right: 8px;
 	color: white;
 	font-size: 14px;
 	background-color: #616161;
 	width: 11%;
 	/*text-align: left;*/
 	/*margin: auto;*/
 	/*margin-left: 5px;*/
 }
 .days {
    padding: 10px 0;
    margin: 0;
}
.days li {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    font-family: helvetica;
    list-style-type: none;
    width: 13.6%;
    text-align: left;
    padding-bottom: 12px;
    margin-bottom: 20px;
    color: #FB907D;
}
.booked {
    font-size: 24px;
    font-weight: bold;
    font-family: helvetica;
	text-align: left;
	color: #E0E3E7;
	background-color: #EEEEEE;
	padding-left: 4px;
	height: 80px;
	width: 80px;
}


